.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.logo-container h1 {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.logo-container h1:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .logo-container {
    margin-bottom: 1rem;
  }
}
